<style type="text/css">
  #newProducts_details_banner .swiper-slide {
    width: 1.64rem !important;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.07);
    border-radius: 1px;
  }

  #newProducts_details_banner .cover_wrap {
    width: 100%;
    padding-bottom: 100% !important;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  #newProducts_details_banner .cover {
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  #newProducts_details_banner .m_title {
    font-size: 0.1rem;
    font-family: Arial;
    color: #303133;
    padding: 0 0.06rem;
    line-height: 2;
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  #newProducts_details_banner .price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1;
    padding-bottom: 0.05rem;
  }

  #newProducts_details_banner .old_price {
    font-size: 0.1rem;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    color: #9B9B9B;
    line-height: 1;
    text-decoration: line-through;
    position: relative;
    top: -0.02rem;
  }

  #newProducts_details_banner .now_price {
    font-size: 0.12rem;
    font-family: 'Roboto-Regular';
    font-weight: 600;
    color: #000000;
    padding: 0 0 0.04rem;
    line-height: 1;
    padding-left: 0.05rem !important;
  }

  #newProducts_details_banner .now_price.active {
    color: #6A2117;
  }

  #newProducts_details_banner .old_price {
    font-size: 0.1rem;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    color: #9B9B9B;
    line-height: 1;
    text-decoration: line-through;
    position: relative;
    top: -0.02rem;
  }
</style>
<div class="newProduct_wrap">
  {% if isShow %}
  {% if data.recommendName and data.recommendName != '' %}
  <h2 class="title">{{data.recommendName}}</h2>
  {% endif %}
  {% endif %}
  <div class="swiper-container newProducts_details" id='newProducts_details_banner'>
    <div class="newProducts_details swiper-wrapper ">
      {% for item in data.goods %}
      {% if forloop.index <= 16 %} <div class="swiper-slide">
        <a href="productDetail_{{item.id}}.html">
          <div class="cover_wrap">
            <img class="cover" data-suffix-img="{{item.mainImg}}" src="{{item.mainImg}}">
            {% if item.discount and item.discount != 10 %}<span class="discount pa hide"
              data-discount="{{item.discount}}" data-start="{{item.discountStaTime}}"
              data-end="{{item.discountEndTime}}"><em class="num"><i class="d_num"></i>%</em><em
                class="text">OFF</em></span>{% endif %}
            {% if item.freeShipping and item.freeShipping == 1 %}<span class="free_shipping pa">FREE<i
                class="text">SHIPPING</i></span>{% endif %}
          </div>
          <p class="m_title">{{item.goodsName}}</p>
          <div class="price">
            <span class="old_price hide" discount-price></span><span class="now_price hide"
              p-price="{{item.defaultPrice}}"></span>
          </div>
        </a>
        {% if item.speType==3 %}
        <div class="wrapContainer">
          <div class="cube">
            <div class="cubeList front">3</div>
            <div class="cubeList back">3</div>
            <div class="cubeList top">3</div>
            <div class="cubeList bottom">D</div>
            <div class="cubeList left">D</div>
            <div class="cubeList right">D</div>
          </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
</div>
<style>
  #newProducts_details_banner .newProducts_details {
    justify-content: left;
  }
</style>
<script>
  function recommendSwiper() {
    let recommendSwiper = new Swiper('#newProducts_details_banner', {
      slidesPerView: 'auto',
      spaceBetween: 10
    });

    $('#newProducts_details_banner .swiper-slide').each(function (index, el) {
      let $discount = $(el).find('[data-discount]').attr('data-discount'),
        $start = $(el).find('[data-start]').attr('data-start'),
        $end = $(el).find('[data-end]').attr('data-end'),
        $basePrice = $(el).find('[p-price]').attr('p-price');
      if ($discount && $discount != '' && Number($discount) != 10 && Object.prototype.toString.call($discount).slice(8, -1) != 'Null') {
        if (contrastTime(true, $end, $start)) {
          $(el).find('[p-price]').removeClass('hide').addClass('active').html(getMoney($basePrice * ($discount / 10)));
          $(el).find('[discount-price]').removeClass('hide').html(getMoney($basePrice));
          $(el).find('.d_num').html(100 - $discount * 10);
          $(el).find('[data-discount]').removeClass('hide');
        } else {
          $(el).find('[p-price]').removeClass('hide active').html(getMoney($basePrice));
        }
      } else {
        $(el).find('[p-price]').removeClass('hide active').html(getMoney($basePrice));
      }
    });
  }
  recommendSwiper();
</script>