<div class="newProduct_wrap">
  {% if isShow %}
    {% if data.recommendName and  data.recommendName != '' %}
      <h2 class="title">{{data.recommendName}}</h2>
    {% endif %}
  {% endif %}
  <div class="swiper-container newProducts_details" id='newProducts_details_banner'>
      <div class="newProducts_details swiper-wrapper ">
          {% for item in data.goods %}
            {% if forloop.index <= 16 %}
              <div class="swiper-slide">
                <a href="productDetail_{{item.id}}.html">
                    <div class="cover_wrap">
                        <img class="cover" data-suffix-img="{{item.mainImg}}" src="{{item.mainImg}}">
                        {% if item.discount and item.discount != 10 %}<span class="discount pa hide" data-discount="{{item.discount}}" data-start="{{item.discountStaTime}}" data-end="{{item.discountEndTime}}"><em class="num"><i class="d_num"></i>%</em><em class="text">RABAIS</em></span>{% endif %}
                        {% if item.freeShipping and item.freeShipping == 1 %}<span class="free_shipping pa">FREE<i class="text">SHIPPING</i></span>{% endif %}
                    </div>
                    <p class="m_title">{{item.goodsName}}</p>
                    <div class="price">
                      <span class="old_price hide" discount-price></span><span class="now_price hide" p-price="{{item.defaultPrice}}"></span>
                    </div>
                </a>
                {% if item.speType==3 %}
                <div class="wrapContainer">
                    <div class="cube">
                        <div class="cubeList front">3</div>
                        <div class="cubeList back">3</div>
                        <div class="cubeList top">3</div>
                        <div class="cubeList bottom">D</div>
                        <div class="cubeList left">D</div>
                        <div class="cubeList right">D</div>
                    </div>
                </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
      </div>
  </div>
</div>
<style>
  #newProducts_details_banner .newProducts_details{
    justify-content: left;
  }
</style>
<script>
  function recommendSwiper(){
    let recommendSwiper = new Swiper('#newProducts_details_banner', {
      slidesPerView: 'auto',
      spaceBetween : 10
    });

    $('#newProducts_details_banner .swiper-slide').each(function(index,el){
        let $discount = $(el).find('[data-discount]').attr('data-discount'),
            $start = $(el).find('[data-start]').attr('data-start'),
            $end = $(el).find('[data-end]').attr('data-end'),
            $basePrice = $(el).find('[p-price]').attr('p-price');
            if($discount && $discount != '' && Number($discount) != 10  && Object.prototype.toString.call($discount).slice(8, -1) != 'Null'){
                    if(contrastTime(true,$end,$start)){
                      $(el).find('[p-price]').removeClass('hide').addClass('active').html(getMoney($basePrice * ($discount / 10)));
                      $(el).find('[discount-price]').removeClass('hide').html(getMoney($basePrice));
                      $(el).find('.d_num').html(100 - $discount * 10);
                      $(el).find('[data-discount]').removeClass('hide');
                    }else{
                      $(el).find('[p-price]').removeClass('hide active').html(getMoney($basePrice));
                    }
            }else{
                $(el).find('[p-price]').removeClass('hide active').html(getMoney($basePrice));
            }
      });
  }
  recommendSwiper();
</script>