<ul class="s_list comments">
    {% for item in data %}
    {% if forloop.index0 < 5 %} <li>
        <div class="user m16">
            {% if item.name %}
            <img class="u_icon" src="../assets/wap/images/user.png" />
            <span class="name">{{item.name}}</span>
            {% endif %}

        </div>
        {% if item.country!= '' and item.country != null %}
        <div class="country_address">
            <img class="u_map" src="../assets/wap/images/map.png" />
            <span class="country">{{item.country}}</span>
        </div>
        {% endif %}
        {% if item.star %}
        <div class="star_box m16">
            {% render 'Athena/wap/components/star.liquid',isShowScore: true,data: item.star | at_least: 1 | at_most: 5 %}
        </div>
        {% endif %}

        {% if item.createTime %}
        <p class="time m16">{{item.createTime | slice: 0, 10}}</p>
        {% endif %}

        {% if item.comment %}
        <p class="descr m16">{{item.comment}}</p>
        {% endif %}

        {% if item.commentResourceList.size > 0%}
        <div class="z_img_wrap">
            <dl class="clearfix z_img_inner">
                {% for citem in item.commentResourceList %}
                <dd>
                    <div class="z_img" data-src="{{citem.url}}" data-index="{{forloop.index0}}">
                        <img src="{{citem.url}}" />
                    </div>
                </dd>
                {% endfor %}
            </dl>
        </div>
        {% endif %}
        {% if item.reply != '' and item.reply != null %}
        <div class="reply m16">
            <h3>Merchant reply</h3>
            <p>{{item.reply}}</p>
        </div>
        {% endif %}
        </li>
        {% endif %}
        {% endfor %}
</ul>
{% if data.size > 5 %}
<div class="text_align addMoreBtn"><span class="c_btn">View More Comments</span></div>
{% endif %}
{% render 'Athena/wap/components/load.liquid' %}
<div id="dialog-box">
    <div class="box">
        <!-- <img src="" class="box-img"/> -->
    </div>
</div>
{% raw %}
<script id="setmealDialogTpl" type="text/html">
    <div class="swiper-container" id="setmealDialogTplSwiper">
        <div class="swiper-wrapper">
            {{# layui.each(d, function(index, item){ }}
            <div class="swiper-slide">
                <img src="{{item.mainImg}}" class="box-img"/>
            </div>
            {{# }); }}
        </div>
        <div class="swiper-button-prev dialogPrevBtn"></div>
        <div class="swiper-button-next dialogNextBtn"></div>
    </div>
</script>
{% endraw %}

{% raw %}
<script id="cHtml" type="text/html">
    {{# layui.each(d, function(index, item){ }}
        <li>
            <div class="user m16">
                {{# if(item.name && item.name != '' && Object.prototype.toString.call(item.name).slice(8,-1) != 'Null' ){}}
                    <img class="u_icon" src="../assets/wap/images/user.png">
                    <span class="name">{{item.name}}</span>
                {{# }}}
            </div>
            {{# if(item.country && item.country != '' && Object.prototype.toString.call(item.country).slice(8,-1) != 'Null' ){}}
            <div class="country_address">
                <img class="u_map" src="../assets/wap/images/map.png" />
                <span class="country">{{item.country}}</span>
            </div>
            {{# }}}
                <div class="star_box m16">
                    <span class="star_wrap">
                        <span class="star_inner">
                                {{#  
                                    var fn = function(num){
                                      var num = num > 5 ? 5 : num;
                                      var star = '';
                                      for(let i = 0;i < parseInt(num);i++){
                                        star += '<i class="star"></i>';
                                      }
                            
                                      var halfStar = '',
                                          strStar = String(num);
                                      if(strStar.indexOf('.') != -1){
                                        halfStar = strStar.split('.')[1];
                                        var zClass= 's_'+ halfStar;
                                        star += '<i class="star '+ zClass +'"></i>';
                                      }
                                      
                                      if(5 > Math.ceil(num)){
                                        var k = 5 - Math.ceil(num);
                                        for(let z = 0;z < k;z++){
                                          star += '<i class="star empty"></i>';
                                        }
                                      }
                                      return star;
                                    }; 
                                  }}
                                  {{ fn(item.star) }}
                        </span>
                    </span>
                </div>
                {{# if(item.createTime && item.createTime != '' && Object.prototype.toString.call(item.createTime).slice(8,-1) != 'Null' ){}}
                    <p class="time m16">{{item.createTime.slice(0,10)}}</p>
                {{# }}}
                {{# if(item.comment && item.comment != '' && Object.prototype.toString.call(item.comment).slice(8,-1) != 'Null' ){}}
                    <p class="descr m16">{{item.comment}}</p>
                {{# }}}
                {{# if(item.commentResourceList.length > 0 && Object.prototype.toString.call(item.commentResourceList).slice(8,-1) != 'Null'){}}
                    <div class="z_img_wrap">
                        <dl class="clearfix z_img_inner">
                            {{#  layui.each(item.commentResourceList, function(zindex, val){ }}
                                {{# if (val.type == 1 && val.url && val.url != '' && Object.prototype.toString.call(val.url).slice(8,-1) != 'Null') { }}
                                    <dd>
                                        <div class="z_img" data-src="{{val.url}}" data-index="{{zindex}}">
                                            <img src="{{val.url}}">
                                        </div>
                                    </dd>
                                {{# } }}
                            {{#  }); }}
                        </dl>
                    </div>
                {{# }}}
                {{# if(item.reply != '' && item.reply != null){}}
                <div class="reply m16">
                    <h3>Merchant reply</h3>
                    <p>{{item.reply}}</p>
                </div>
                {{# }}}
        </li>
    {{# }); }}
</script>
{% endraw %}
<style>
    #dialog-box .box-img {
        max-width: 100%;
        max-height: 100%;
    }

    #dialog-box .swiper-slide {
        align-items: center;
        justify-content: center;
        height: auto !important;
        display: flex;
    }

    .layui-layer.layui-layer-page.layui-layer-dialog {
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }

    #dialog-box {
        display: none;
    }

    #layerDialog {
        height: 100% !important;
    }

    #layerDialog+.layui-layer-setwin .layui-layer-ico {
        background: url(../assets/wap/images/commentClose.png ) no-repeat;
    }

    #layerDialog+.layui-layer-setwin .layui-layer-close2 {
        background-position: 0% 0% !important;
        height: 26px !important;
        width: 26px !important;
        top: 0 !important;
        right: 0 !important;
        z-index: 10;
    }

    #setmealDialogTplSwiper .swiper-wrapper {
        height: 100vh !important;
    }

    #setmealDialogTplSwiper .dialogPrevBtn:focus,
    #setmealDialogTplSwiper .dialogNextBtn:focus {
        outline: none;
    }
</style>
<script src="../assets/wap/js/comList.js"></script>