<ul class="product-info__variants_uploadImg">
	<a href="javascript:;" class="uploadFile"><i class="uploadText">{{'i18n.product_detail.upload_your_image' | t:
			lang}}</i>
		<input class="uploadImgBtn pro-file" title="select file" data-need="{{data.need}}" param-price="{{data.price}}"
			param-id="{{data.id}}" param-name="{{data.field}}" param-required="{{data.need}}" param-type="{{data.type}}"
			type="file" /></a>
	<ul class="hide upload-img__list">

	</ul>
	<p class="imgText">{{'i18n.product_detail.upload_tip' | t: lang}}</p>
</ul>
