{% assign configData = data.configData %}
{% if configData.payMethod.paypal %}
{% assign paypalClientId = configData.payMethod.paypal.clientId%}
{% else %}
{% assign paypalClientId = ''%}
{% endif %}
<input type="hidden" id='paypal_clientId' data-clientId='{{paypalClientId}}'>
<section id="cart_box--right">
  <div class="cart_bg"> </div>
  <div id="cart">
    <div class="cart_head">
      <span></span>
      <a href="productList.html" class="buy_more--btn">Suite</a>
      <i class="cart_icon--close"></i>
    </div>
    <div id="cart-empty">
      <div class="section">
        <div class="cart_empty">
          <img src="../assets/pc/images/icon/cart-empty.png" alt="">
          <p>Votre panier est vide.</p>
        </div>
        {% assign detail = data.detailData %}
        {% render 'Kronosfr/pc/components/recommend_cart_layui_swiper_pc.liquid' data: detail, isShow: true %}
      </div>
    </div>
    <div id="cart-content">
      <div id='cart_table'>
        <ul class="cart_list" id='cart_list'>
          <li>
            <div class="cart_del--mask"></div>
            <div class="cart_img--mask"></div>
            <div class="cart_info">
              <div class="cart_product-name--mask"></div>
              <div class="cart_product_btn">
                <div class="skuVal">
                  <p class="cart_product-skuVal1--mask"></p>
                  <p class="cart_product-skuVal2--mask"></p>
                </div>
              </div>
            </div>
            <div class="cart_price">
              <div>
                <span class="cart_price--mask"></span>
                <div class="quantity-selector--mask"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="cart_del--mask"></div>
            <div class="cart_img--mask"></div>
            <div class="cart_info">
              <div class="cart_product-name--mask"></div>
              <div class="cart_product_btn">
                <div class="skuVal">
                  <p class="cart_product-skuVal1--mask"></p>
                  <p class="cart_product-skuVal2--mask"></p>
                </div>
              </div>
            </div>
            <div class="cart_price">
              <div>
                <span class="cart_price--mask"></span>
                <div class="quantity-selector--mask"></div>
              </div>
            </div>
          </li>
        </ul>
        <div id="back">
          <i></i>
          <a href="productList.html">Continuer vos achats</a>
        </div>
        <div class="cart_container">
          <!-- 优惠卷 -->
          <div class='coupon_box'>
            <div class="cart-section--title" data-action="toggle-collapsible">
              <span class="coupon">COUPON</span>
              <i></i>
            </div>
            <div class="cart-section--content">
              <div id="coupon">
                <!-- <div class="cart-section">
                  <div class="cart-section--title"> <span>Sélectionnez votre coupon</span>
                  </div>
                  <div class="cart-section--content">
                    <ul class="cart_coupon--mask">
                      <li class="cart_coupon-cell--mask"></li>
                      <li class="cart_coupon-cell--mask"></li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <!-- 优惠卷码 -->
              <div class="cart-section coupon_section">
                <!-- <div class="cart-section--title" data-action="toggle-collapsible">
                <span>Avoir un code de réduction?</span>
                <i></i>
              </div> -->
                <div class="cart-section--title">
                  <span>Avoir un code de réduction?</span>
                </div>
                <div class="cart-section--content">
                  <div class="discount_code">
                    <input type="text" id="discount_code--input" placeholder="Code">
                    <button type="button" id="discount_code--btn" data-APPLIQUER="discount_code">APPLIQUER</button>
                  </div>
                  <div class="history_list">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="promotion"> </div>
          <div id="shipping">
            <div class="cart-section">
              <div class="cart-section--title"> <span>MODE DE LIVRAISON</span> <i></i>
              </div>
              <div class="cart-section--content">
                <ul class="shippingMethod-ul radio-ul">
                  <li class="radio-wrapper--mask"></li>
                  <li class="radio-wrapper--mask"></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 订单详情 -->
          <div class="cart-section summary">
            <div class="cart-section--content shopcart-box" disabled="">
              <div id="totalList">

              </div>
              <!-- <div id="note">
                <button type="button">
                  <span>Order description</span>
                  <i></i>
                </button>
                <div class="cart-recap__note-inner">
                  <textarea name="cart_note" class="form__field--textarea" rows="3" autofocus=""
                    id="order-note--textarea"></textarea>
                </div>
              </div> -->
              <!-- paypal -->
              {% if paypalClientId != '' %}
              <div class="dynamic-checkout dynamic-checkout--loading">
                <div class="dynamic-checkout__skeleton">
                  <div class="placeholder-line placeholder-line--animated"></div>
                  <div class="placeholder-line placeholder-line--animated"></div>
                </div>
                <div class='dynamic-checkout__buttons'>
                  <div id="paypal-button-container"></div>
                </div>
              </div>
              <div class="shopcart-or"><span>OU</span></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart_checkout">
      <button type="button" class="cart_checkout--btn" data-cart="close_cart">Continuer vos achats</button>
      <button type="button" class="cart_checkout--btn" data-cart="cart_btn">VÉRIFIER</button>
    </div>
  </div>
</section>
{% raw %}
<script id='cart_template' type="text/html">
      {{# layui.each(d.goodsList, function(index, item){ }}
      <li data-customVal='{{$.base64.encode(item.customVal)}}' data-wholesale = '{{item.isWholesale}}'  data-sku='{{item.skuId}}'  data-goodsId='{{item.goodsId}}' data-skuName='{{item.sku}}' data-goodsVersion='{{item.goodsVersion}}'>
        <div class="cart_del" data-line-id="{{item.skuId}}"></div>
       {{# if (item.mainImg && item.mainImg != '' && Object.prototype.toString.call(item.mainImg).slice(8,-1) != 'Null') { }}
            <a href="productDetail_{{item.goodsId}}.html" class="cart_img" data-img="{{returnSuffixName(item.mainImg)}}" >
                <img src="{{returnSuffixName(item.mainImg)}}" alt="{{item.goodsName}}" >
            </a>
        {{# } else { }}
             <a href="productDetail_{{item.goodsId}}.html" class="cart_img">
                <img src="../assets/pc/images/BitmapPerson.png" alt="{{item.goodsName}}" >
            </a>
       {{# } }}         
        <div class="cart_info">
          <div class="cart_product--name font_overhide" ><p>{{item.goodsName}}</p></div>
          <div class="cart_product_btn">
          <div class="cart_product--skuVal">
            {{# if(item.speType == 1 ){ }}
                                    <div class='skuVal'>
                                       {{# layui.each(JSON.parse(item.skuVal), function(index, element){ }}
                                            {{# if(element.hasOwnProperty('speValmainImg') && element.speValmainImg !='' &&
                                            Object.prototype.toString.call(element.speValmainImg).slice(8, -1) != 'Null' ){ }}
                                            <p><span>{{element.spe}}</span> <i>:</i><span data-img="{{returnSuffixName(element.speValmainImg)}}" data-zoom="zoomImg" class="skuValImg"></span></p>
                                            {{# }else{ }}
                                            <p><span>{{element.spe}}</span><i>:</i><span>{{element.speVal}}</span></p>
                                            {{# } }}
                                       {{# }) }}
                                    </div>
            {{# }else if(item.speType == 2||item.speType == 2 ){ }}
                                  <div class='skuVal'>
                                    {{# layui.each(JSON.parse(item.customVal), function(index, element){ }}
                                         {{# if(element.type === '2' || element.type === '4'){ }}
                                             {{# if(element.value != '' &&  element.value != null){ }}
                                                 {{# if(item.type === '2') { }}
                                                    <p><span>{{element.name}}</span> <i>:</i><span data-img="{{returnSuffixName(element.value)}}" data-zoom="zoomImg" class="skuValImg"></span></p>
                                                 {{# }else{ }} 
                                                    <p><span>{{element.name}}</span> <i>:</i><span data-img="{{element.value}}" data-zoom="zoomImg" class="skuValImg"></span></p>
                                                 {{# } }}  
                                             {{# } }}
                                         {{# }else{ }}
                                         <p><span>{{element.name}}</span><i>:</i><span>{{element.value}}</span></p>
                                         {{# } }}
                                         {{# if(element.hasOwnProperty("childList")) {}} 
                                             {{# layui.each(element.childList, function(index, item){}}
                                                {{# if(item.type === '2' || item.type === '4'){ }}
                                                    {{# if(item.value != '' &&  item.value != null ){}}
                                                         {{# if(item.type === '2') { }}
                                                              <p><span>{{item.name}}</span> <i>:</i><span data-img="{{returnSuffixName(item.value)}}" data-zoom="zoomImg" class="skuValImg"></span></p>
                                                         {{# }else{ }} 
                                                              <p><span>{{item.name}}</span> <i>:</i><span data-img="{{item.value}}" data-zoom="zoomImg" class="skuValImg"></span></p>
                                                         {{# } }} 
                                                   {{# } }} 
                                                {{# }else{ }}
                                                 <p><span>{{item.name}}</span><i>:</i><span>{{item.value}}</span></p>
                                                {{# } }}  
                                             {{# }) }}
                                          {{# } }}
                                    {{# }) }}
                                  </div>
                                  {{# }}}
            </div>
          </div>
        </div>
          <div class="cart_price">
            <div>
            {{# if (item.sellingPrice && item.sellingPrice != '' && Object.prototype.toString.call(item.sellingPrice).slice(8, -1)
            != 'Null' && Number(item.sellingPrice) > Number(item.discountPrice) ) { }}
             <span class="cart_price--compare" data-money="{{item.sellingPrice}}"></span>
            <span class="cart_price--discountPrice" data-money='{{item.discountPrice}}'></span>
            {{# } else {  }}
            <span class="cart_price--discountPrice" data-money='{{item.discountPrice}}'></span>
            {{# } }}
            <div class="quantity-selector">
              <button type="button" class="quantity-selector__button" data-action="decrease-quantity" title="Decrease quantity by 1"></button>
              <input class="quantity-selector__value" pattern="[0-9]*" value="{{item.quantity}}" size="2" data-id="{{item.speType}}" data-line-id="{{item.skuId}}">
              <button type="button" class="quantity-selector__button " data-action="increase-quantity" title="Increase quantity by 1"></button>
          </div>
          </div>
          </div>
      </li>
      {{# }) }}
      {{# if(d.invalidGoodsList.length){ }}
      {{# layui.each(d.invalidGoodsList, function(index, item){ }}
      <li class="expired"  data-customVal='{{$.base64.encode(item.customVal)}}'  data-sku='{{item.skuId}}' data-goodsId='{{item.goodsId}}' data-goodsVersion='{{item.goodsVersion}}'>
        <div class="cart_del"></div>
        <div class="cart_img" data-img="{{returnSuffixName(item.mainImg)}}" >
                <img src="{{returnSuffixName(item.mainImg)}}" alt="{{item.goodsName}}" >
        </div>
        <input class="quantity-selector__value" type='hidden'  value="{{item.quantity}}" data-id="{{item.speType}}" size="2" data-line-id="{{item.skuId}}">
        <div class="cart_info">
          <div class="cart_product--name font_overhide">{{item.goodsName}}</div>
        </div>
      </li>
      {{# }) }}
      {{# } }}
</script>
<!-- 运费 -->
<script id="shipping_template" type="text/html">
    {{# if(d.length){ }}
    <div class="cart-section">
      <div class="cart-section--title" data-action="toggle-collapsible">
        <span>MODE DE LIVRAISON</span>
        <i></i>
      </div>
      <div class="cart-section--content">
    <ul class="shippingMethod-ul radio-ul">
      {{# layui.each(d, function(index, item){ }}
    <li class="radio-wrapper" data-id={{item.id}} data-name={{item.name}}>
      <label class="radio__label" for="shippingMethod-list-{{index}}">
        <div class="radio__input">
          <input class="input-radio"  type="radio" value="false" id="shippingMethod-list-{{index}}">
        </div>
        <span>
        {{item.name}}
        {{# if(item.displayPage && item.displayPage.indexOf("0") !== -1 && item.deliveryTime !=''){ }}
          ({{item.deliveryTime}})
        {{#} }}</span>
      </label>
      <div class="shippingCost" data-money='{{item.money}}'></div>
    </li>
    {{# }); }}
  </ul>
        <div id='shipping'></div>
      </div>
    </div>
        {{# } }}
</script>
<!-- 费用明细 -->
<script id='total_template' type="text/html">
    <ul>
  <li>
    <span>Prix du produit:</span>
    <span data-o-money='{{d.productPrice}}'>{{d.symbol}}{{d.productPrice}}</span>
  </li>
  {{# if(d.dicountTotal > 0) {}}
  <li>
    <span>Remise:</span>
    <span data-money='{{ (d.promotionDiscount * 100 + d.couponDiscount * 100) / 100}}'></span>
  </li>
  {{# }}}
  <li>
      <span>Frais de port:</span>
      <span id='shipping_price'>0</span>
    </li>
    <li>
      <span id="total">Le total:</span>
      <span id="total_price" data-o-money="{{d.total}}"  data-d-money="{{d.total}}">{{d.symbol}}{{d.total}}</span>
    </li>
</ul>
  </script>
<!-- 优惠卷 -->
<script id="coupon_tempalte" type="text/html">
  {{# if(d.couponList.length){ }}
    <div class="cart-section">
      <div class="cart-section--title">
        <span>Sélectionnez votre coupon</span>
      </div>
      <div class="cart-section--content">
        <ul class="cart_coupon">
    {{# layui.each(d.couponList, function(index, item){ }}
    {{# if(item.isValid == '0'){ }}
    <li class="cart_coupon--cell" data-discount-id='{{item.id}}' data-exclude='{{item.addFoldUp}}'>
      {{# if(item.ruleResult == '1'){ }}
      <div>
        <span>{{item.ruleDesc}}</span>
        <p>RABAIS</p>
      </div>
      {{# }else if(item.ruleResult == '0') { }}
      <div>
        <!-- <i>{{d.symbol}}</i> -->
        <span class='minus'>- </span>
        <span data-money='{{item.ruleDesc}}'></span>
      </div>
      {{# }}}
    </li>
    {{# }else if(item.difference > 0){ }}
    <li class='discount-gray_cell' data-discount-id='{{item.id}}' data-exclude='{{item.addFoldUp}}'>
      <div>
        {{# if(item.ruleResult == '1'){ }}
        <div class='discountCard'>
          <span>{{item.ruleDesc}}</span>
          <p>RABAIS</p>
        </div>
        {{# }else if(item.ruleResult == '0') { }}
        <div class='discountCard'>
          <!-- <i>{{d.symbol}}</i> -->
          <span class='minus'>- </span>
          <span data-money='{{item.ruleDesc}}'></span>
        </div>
        {{# }}}
        <div class='cart-progress'>
          {{# if(item.activitiesRule == '2'){ }}
          <span>{{item.difference}} PCS Suite</span>
          {{# }else{}}
          <span> <i data-money='{{item.difference}}'></i>
            <!-- {{d.symbol}} -->
            Suite</span>
          {{# }}}
          <div class="layui-progress">
            <div class="layui-progress-bar" style="width:{{item.proportion}};background:#EFC892"></div>
          </div>
        </div>
      </div>
    </li>
    {{# }}}
    {{# }); }}
        </ul>
      </div>
    </div>
    <div class="shopcart-or"><span>OU</span></div>
    {{# }}}
  </script>
<!-- 全场活动 -->
<script id="promotionTpl" type="text/html">
         {{# if(d.length){ }}
        <div class="cart-section">
            <div class="cart-section--title" data-action="toggle-collapsible">
              <span>REMISE PROMOTIONNELLE</span>
              <i></i>
            </div>
            <div class="cart-section--content">
              <ul class="promotion-ul radio-ul">
                {{# layui.each(d, function(index, item){  }}
            <li class="radio-wrapper {{# if(index === 0){ }} active {{# } }}"  data-id="{{item.id}}" data-exclude='{{item.addFoldUp}}'>
                  <label class="radio__label" for="promotion-list-01">
                    <div class="radio__input">
                      <input class="input-radio" {{# if(index == 0){ }} checked {{# } }} type="radio" value="false" id="promotion-list-01">
                </div>
                      <span>{{ item.name }}
                        {{# if(item.start != null && item.end != null){ }}
                         ( <em class='promotion_start'>{{item.start.split(' ')[0]}}</em><em class='promotion_end'>{{item.end.split(' ')[0]}}</em> )
                         {{# } }}<span></span></span>
              </label>
            </li>
                {{# }) }}
                  <li class="radio-wrapper" data-value='0' data-id='no_promotion' data-exclude='1'>
                    <label class="radio__label" for="promotion-list-02">
                      <div class="radio__input">
                        <input class="input-radio" type="radio" value="false" id="promotion-list-02">
                </div>
                        <span>Non merci<span></span></span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      {{# } }}
      </script>
<script>
  // $(function () {
  //   $.getScript('../assets/pc/js/cart.js')
  // })
  // let version = $('#version').attr('data-version')
</script>
{% endraw %}