{% layout 'Kronosfr/components/Kronosfr_theme' name:'productList' %}
{% assign moneyStatus = true %}
{% block 'content' %}
{% render 'Kronosfr/components/pageHeader',configData: blockData.first,isMobilePhone: isMobilePhone,OBJ:data,moneyStatus:moneyStatus %}
{% assign productList = ROWS | filterData %}
{% assign sortRule = data.categoryData.sortModel.sortRule %}

{% if ROWS != 1 %}
{% if ROWS.picWap.size>0 %}
<div class="categoryImg" style="background-image: url({{ROWS.picWap}})"></div>
{% elsif ROWS.picPc.size>0 %}
<div class="categoryImg" style="background-image: url({{ROWS.picPc}})"></div>
{% else %}
{% endif %}
{% endif %}
<div class="searchKeywordWrap search hide" id="searchKeywordWrap">
  <div class="searchHeader">
    <div class="backHome bg" onclick="routerJump('index.html')"></div>
    <div class="inputBox">
      <input placeholder="chercher ......" type="text" id="search">
      <div class="searchSubmit alginCenter" id="searchSubmit">
        <img src="../assets/wap/images/search/icon-search.png">
      </div>
    </div>
  </div>
  <div class="search-tip noResult hide">Votre recherche <span class="search-keyword"></span> aucun produit ne correspond
  </div>
</div>
<section class="athena-productList">
  <div class="athena-productList-title" categoryid="{{ROWS.id}}" name="{{ROWS.name}}">
    {% if ROWS == 1 %}
    <p class="first-title">
      <span onclick="routerJump('index.html')" class="goHome">Accueil&nbsp;/&nbsp;</span>
      <span class="overflow" id="titleTop" style="font-weight: 700;">Résultats</span>
    </p>
    <p class="second-title">
      <span class="overflow" id="title">Résultats</span>
      <span all="1" class="total" id="total"></span>
    </p>
    {% else %}
    <p class="first-title">
      <span onclick="routerJump('index.html')" class="goHome">Accueil&nbsp;/&nbsp;</span>
      {% if ROWS.name %}
      <span class="overflow" id="title" style="font-weight: 700;">{{ROWS.name }}</span>
      {% else %}
      <span class="overflow" id="title" style="font-weight: 700;">Résultats</span>
      {% endif %}
    </p>
    <p class="second-title">
      {% if ROWS.name %}
      <span class="overflow" id="title">{{ROWS.name }}</span>
      {% else %}
      <span class="overflow" id="title">Résultats</span>
      {% endif %}
      <span all="0" class="total" id="total"></span>
    </p>
    {% endif %}
  </div>

  <div class="productListBox">
    <div class="athena-productList-filter">
      <ul class="clearfix athena-filter-father">
        <li>
          <div class="athena-changeView" id="Juxtaposition">
            <span></span>
            <span></span>
          </div>
          <div class="athena-changeView" id="notJuxtaposition">
            <span></span>
          </div>
        </li>
        <li id="Sort" open="false">
          <span>Sort By</span>
          <img alt="" class="triangle" src="../assets/wap/images/xiala_icon@2x.png">
        </li>
      </ul>
      <ul class="athena-filter-child Sort">
        {% for item in sortRule %}
        {% if item[1].val == "Price" %}
        <li class="clearfix" value="{{item[1].key}}" sortmode="0">
          <div class="athena-filter-child-name">
            {{item[1].val}}
            <img alt="" src="../assets/wap/images/s_icon@2x.png">

          </div>
          <div class="athena-filter-child-check" sortrule="{{item[0]}}" sortmode="0">
            <img alt="" src="../assets/wap/images/home_check_icon@2x.png">
          </div>
        </li>
        <li class="clearfix" value="{{item[1].key}}" sortmode="1">
          <div class="athena-filter-child-name">
            {{item[1].val}}
            <img alt="" src="../assets/wap/images/j_icon@2x.png">
          </div>
          <div class="athena-filter-child-check " sortrule="{{item[0]}}" sortmode="1">
            <img alt="" src="../assets/wap/images/home_check_icon@2x.png">
          </div>
        </li>
        {% else %}
        <li class="clearfix" value="{{item[1].key}}" sortmode="1">
          <div class="athena-filter-child-name">
            {{item[1].val}}
          </div>
          <div class="athena-filter-child-check " sortrule="{{item[0]}}">
            <img alt="" src="../assets/wap/images/home_check_icon@2x.png">
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

    </div>
    <div class="athena-productList-cantainer">
      {% render 'Kronosfr/wap/components/product_item.liquid' %}

    </div>
  </div>

  {% render 'Kronosfr/wap/components/empty.liquid' showRecommend:false %}
</section>
{% render 'Kronosfr/wap/components/load.liquid' %}
{% if data.configData.commomCoupon[0].categoryDisplay == 1 %}
{% render 'Kronosfr/components/coupon.liquid' ,OBJ:data %}
{% endif %}
{% endblock %}